# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Hugging Face Cache
.cache/

# Audio Files
*.wav

# OS Files
.DS_Store
Thumbs.db